@{
    ViewData["Title"] = "Data Calon Mahasiswa Baru";
}
@model PendaftarView

@section Styles{
    <style>
        #custom-search {
            float: right;
        }

        .table-container {
            width: 100%;
            overflow-x: auto;
        } 

        .hidden {
            display: none;
        }

        .customRow {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .excel-container {
            display: flex;
            align-items: center;
            flex-grow: 1;
        }

        .excel-right-content {
            padding: 10px;
            background-color: #f0f0f0;
            border: none; 
            border-radius: 0 5px 5px 0;
        }

        .table-container {
            width: 100%;
            overflow-x: auto;
        }

        #custom-search {
            float: right;
        }

        #TabelCalonMhs thead th {
            text-align: center;
        }

        #TabelCalonMhs thead {
            background-color: #284387;
            color: white;
        }

        .freeze-column {
            width: fit-content; /* Adjust to fit your needs */
            max-width: 100%;
            overflow-x: auto;
            border: 1px solid #777777;
        }

        .freeze-column table {
            border-spacing: 0;
            border-collapse: collapse;
            width: 100%; /* Optional: To remove spacing between cells */
        }

        .freeze-column td {
            border-right: 1px solid #bbbbbb;
            border-bottom: 1px solid #bbbbbb;
            padding: inherit;
            word-wrap: break-word;
            text-align: center;
        }

        .freeze-column td:nth-child(1) {
            position: sticky;
            font-weight: normal;
            z-index: 2;
        }

        .freeze-column td:nth-child(1) {
            left: 0; /* Width of the first column */
            width: 70px;
            min-width: 70px;
        }

        .freeze-column td:nth-child(1){
            background: #f5ac1d;
        }
    </style>
}

    <div class="row">
        <div class="col-md-12">
            @*<a href="/CalonMhs/GenerateAngsuran" class="btn btn-sm btn-success btntambah" id="btn-tambah"><i class="bi bi-plus-circle-fill" style="color:white"></i> Generate Angsuran</a>*@

            <div class="customRow">
                <div style="display: flex;">
                    <select id="customFilter" class="form-select" style="width: 200px; margin-right: 10px;">
                        <option value="S1">Sarjana</option>
                        <option value="S2">Pasca Sarjana</option>
                    </select>

                    <select id="customFilter2" class="form-select" style="width: 200px; margin-right: 10px;">
                    <option value="All" selected>Semua</option>
                        @foreach (var item in Model.AllTahunAkademik)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>

                    <select id="customFilter3" class="form-select" style="width: 200px; margin-right: 10px;">
                    <option value="All" selected>Semua</option>
                    @foreach (var item in Model.JalurList)
                        {
                        <option value="@item.kd_jalur">@item.nama_jalur</option>
                        }
                    </select>
                </div>

                <div class="item-right">
                    <button class="btn btn-success" id="ExportExcelCalon"><i class="bi bi-file-excel"></i> Export Calon Mahasiswa</button>

                </div>
            </div>
           @*  <div class="col-md-12">
                <div class="form-group">
                    <label>
                        <input id="customFilter4" type="checkbox" class="column-toggle" data-column="3"> Kebutuhan Khusus</input>
                    </label>
                </div>
            </div> *@
       

        @*Tabel data-data Calon Mahasiswa*@
        <div class="table-container">
        <table id="TabelCalonMhs" class="freeze-column">
                <thead style="background-color: #284387; color: white;">
                    <tr>
                        <th>Kode Calon</th>
                        <th>Nama Calon</th>
                        <th>Jalur Masuk</th>
                        <th>Pilihan 1</th>
                        <th>Pilihan 2</th>
                        <th>Pilihan 3</th>
                        <th>Prodi Diterima</th>
                        <th>Disabilitas</th>
                        <th>Nama SMA</th>
                        <!--Hidden-->
                        <th>Jenjang</th>
                        <th>Tahun Akademik</th>
                        <th>KD Jalur</th>
                        <!--Hidden-->
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody class="table-light">
                </tbody>
        </table>
        </div>
        <br /><br />
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#TabelCalonMhs').DataTable({
            // "data": data, // Menggunakan data yang diterima dari AJAX
            "columns": [
                { "data": "KD_CALON" },
                { "data": "NM_CALON" },
                { "data": "NAMA_JALUR" },
                { "data": "PILIHAN_1" },
                { "data": "PILIHAN_2" },
                { "data": "PILIHAN_3" },
                { 
                    "data": "MASUK",
                    "render": function (data, type, row) {
                        if (type === 'display') {
                            var text = row.MASUK;
                            if (text == null) {
                                return '<td><span class="badge bg-danger"> Tidak diterima </span></td >';
                            }
                            else {
                                return '<td><span class="badge bg-warning">' + text + '</span></td >';
                            }
                        }
                        else {
                            // Untuk tipe lain (seperti 'filter' atau 'sort'), cukup kembalikan data asli
                            return data;
                        }
                    }
                },
                { "data": "KEBUTUHAN_KHUSUS_MHS" },
                { "data": "NAMA_SMA" },
                { "data": "JENJANG" },
                { "data": "THNAKADEMIK" },
                { "data": "KD_JALUR" },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return '<div class="text-center">' +
                            '<a href="/CalonMhs/DetailAngsuranCalonMhs?Kd_Calon=' + data.KD_CALON + '" class="btn btn-sm btn-info text-white mr-2 mb-2" > <i class="bi bi-info-circle-fill" > </i> Detail SKPUK</a >' +
                            '<a href="/CalonMhs/DetailCalonMhs?Kd_Calon=' + data.KD_CALON + '" class="btn btn-sm btn-warning text-black" > <i class="bi bi-info-circle-fill" > </i> Detail Calon</a >' +
                            '</div>';
                    }
                },
            ],
            "columnDefs": [
                {
                    "targets": [9,10,11],
                    "visible": false,
                }
            ],
            "lengthMenu": [50, 100, 150],
            "searching": true
        });

        $.ajax({
            url: '@Url.Action("GetAllCalonMhs", "CalonMhs")',// Ganti dengan URL controller Anda
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                table.rows.add(data).draw();
                table.column(9).search('S1').draw();
                table.column(10).search('').draw();
                table.column(11).search('').draw();

            },
            error: function () {
                console.error('Gagal mengambil data referensi.');
            }
        });

        $('#customFilter').on('change', function () {
            var filterValue = $(this).val();
            if (filterValue === '') {
                table.columns().search('').draw();
            } else {
                table.column(9).search(filterValue).draw();
            }
        });

        $('#customFilter2').on('change', function () {
            var filterValue = $(this).val();
            if (filterValue === 'All') {
                table.columns().search('').draw();
            } else {
                table.column(10).search(filterValue).draw(); 
            }
        });

        $('#customFilter3').on('change', function () {
            var filterValue = $(this).val();
            if (filterValue === 'All') {
                table.columns().search('').draw();
            } else {
                table.column(11).search(filterValue).draw();
            }
        });

        // $('#customFilter4').on('change', function () {
        //     var filterValue = $(this).get(0).checked;
        //     console.log(filterValue);

        //     var rows = table.rows().nodes();

        //     rows.each(function (row) {
        //         var cellValue = table.cell(row, 6).data();
        //         var showRow = filterValue ? cellValue === '-' : cellValue !== '-';

        //         if (showRow) {
        //             $(row).removeClass('d-none');
        //         } else {
        //             $(row).addClass('d-none');
        //         }
        //     });
        // });

        
        $('#ExportExcelCalon').on('click', function () {
            var ta = "2022/2023";
            var jenjang = "S1";
            var taFilter = $("#customFilter2").val()
            var jenjangFilter = $("#customFilter").val();
            if (jenjangFilter !== "") {
                jenjang = jenjangFilter;
            }
            if (taFilter !== "") {
                ta = taFilter;
            }
            
            window.location.href = "@Url.Action("ExportExcelCalon", "CalonMhs")?ta=" + ta + "&jenjang=" + jenjang;
        });
    });
   
</script>