@{
    ViewData["Title"] = "Ubah Calon Mahasiswa";
}

@model StorePendaftar2
@section Styles{
    <style>
        .hidden {
            display: none;
        }

    </style>
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- /.card-header-->
            <div class="card-header">
                <h3 class="card-title">Form Edit</h3>
                <input type="hidden" id="kdCalon" asp-for="Kd_Calon" />
            </div>
            <!-- /.card-body -->
            <div class="card-body">
                <form id="submitFormDiri">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="namaCalon">NISN Calon</label>
                                <input type="text" class="form-control" id="data_1" placeholder="Masukkan NISN Calon" maxlength="5">
                                <span class="badge bg-danger" style="font-size: 10pt; margin-top: 5px" id="m_data_1"></span>
                            </div>
                            <div class="form-group">
                                <label for="namaCalon">Nama Calon</label>
                                <input type="text" class="form-control" id="data_2" placeholder="Masukkan Nama Calon">
                            </div>
                            <div class="form-group">
                                <label for="tempatLahir">Tempat Lahir</label>
                                <input type="text" class="form-control" id="data_5" placeholder="Masukkan Tempat Lahir Calon">
                            </div>
                            <div class="form-group">
                                <label for="tglLahir">Tanggal Lahir</label>
                                <input type="date" class="form-control" id="data_6">
                            </div>
                            <div class="form-group">
                                <label for="jenisKel">Jenis Kelamin</label>
                                <select id="data_10" class="form-select">
                                    <option value="L">Laki-Laki</option>
                                    <option value="P">Perempuan</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="agama">Agama</label>
                                <input type="text" class="form-control" id="data_11" placeholder="Masukkan Agama Calon">
                            </div>
                            <div class="form-group">
                                <label for="warga">Kewarganegaraan</label>
                                <select id="data_7" class="form-select">
                                    <option value="WNI">WNI</option>
                                    <option value="WNA">WNA</option>
                                </select>
                            </div>
                            <div class="form-group hidden" id="selectHidden">
                                <label for="namaNegara">Nama Negara</label>
                                <input type="text" class="form-control" id="data_8" placeholder="Masukkan Nama Negara Calon">
                            </div>
                            <div class="form-group">
                                <label for="hp">HP</label>
                                <input type="text" class="form-control" id="data_9" placeholder="Masukkan Nomor HP Calon">
                            </div>
                             <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="data2_1" placeholder="Masukkan Email Calon">
                            </div><br />

                            <div class="text-left">
                                <a href="javascript:window.history.back();" class="btn btn-sm btn-danger"><i class="bi bi-arrow-left-short"></i> Kembali</a>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="periode">Periode</label>
                                <select id="data2_2" class="form-select">
                                    @for (int i = 1; i < 11; i++)
                                    {
                                        <option value="@i.ToString()">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="kebutuhan">Kebutuhan Khusus</label>
                                <select id="data2_3" class="form-select">
                                    <option value="-">-</option>
                                    <option value="Tuna Netra">Tuna Netra</option>
                                    <option value="Tuna Rungu">Tuna Rungu</option>
                                    <option value="Tuna Grahita">Tuna Grahita</option>
                                    <option value="Tuna Wicara">Tuna Wicara</option>
                                    <option value="Tuna Daksa">Tuna Daksa</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="alamat">Alamat Asal</label>
                                <input type="text" class="form-control" id="data2_5" placeholder="Masukkan Alamat Asal Calon">
                            </div>
                            <div class="form-group">
                                <label for="propinsi">Propinsi Asal</label>
                                <select id="data2_6" class="form-control select2">
                                    <option value=""> - Pilih Propinsi - </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="kota">Kabupaten Asal</label>
                                <select id="data2_7" class="form-control select2">
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="kecamatan">Kecamatan Asal</label>
                                <select id="data2_8" class="form-control select2">
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="pos">Kode Pos Asal</label>
                                <input type="text" class="form-control" id="data2_9" placeholder="Masukkan Kode Pos Calon" maxlength="5">
                            </div>
                            <div class="form-group">
                                <label for="namaCalon">Nama Ibu</label>
                                <input type="hidden" class="form-control" id="ortu" asp-for="Id_Ortu">
                                <input type="text" class="form-control" id="data2_4" placeholder="Masukkan Nama Ibu">
                            </div>
                            <div class="form-group">
                                <label for="kps">KPS</label>
                                <input type="text" class="form-control" id="data2_10" placeholder="Masukkan KPS Calon">
                            </div>
                            <div class="form-group">
                                <label for="jas">Ukuran Jas</label>
                                <select id="data2_11" class="form-select">
                                    <option value=""> - Pilih Ukuran - </option>
                                </select>
                            </div><br/>
                        <div class="text-left">
                            <button type="submit" class="btn btn-sm btn-success"><i class="bi bi-save"></i> Simpan</button>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var kdCalon = $('#kdCalon').val();
        var id_ortu = $('#ortu').val();
        // console.log(id); console.log(id_ortu);
        var kecId = 0;
        var kabId = 0;
        GetPropJas();
        var text = "";

        $.ajax({
            url: '@Url.Action("GetDataDiri", "CalonMhs")?Kd_Calon=' + kdCalon,// Ganti dengan URL controller Anda
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $('#data_1').val(data.nisn);
                $('#data_2').val(data.NM_CALON);
                $('#data_3').val(data.NIK);
                $('#data_4').val(data.NO_KK);
                $('#data_5').val(data.TMP_LAHIR);

                var formattedDate = new Date(data.TGL_LAHIR).toISOString().slice(0, 10);
                $('#data_6').val(formattedDate);

                $('#data_7').val(data.KWRGANEGARAAN);

                if (data.KWRGANEGARAAN == "WNA") {
                    $('#selectHidden').removeClass("hidden");
                }
                $('#data_8').val(data.NEGARA);
                $('#data_9').val(data.HP_PENDAFTAR);

                if (data.JNS_KEL === "Perempuan") {
                    data.JNS_KEL = "P";
                }
                if (data.JNS_KEL === "Laki-laki") {
                    data.JNS_KEL = "L";
                }
                $('#data_10').val(data.JNS_KEL);
                $('#data_11').val(data.AGAMA);

                $('#data2_1').val(data.EMAIL);
                $('#data2_2').val(data.periode);

                if (data.KEBUTUHAN_KHUSUS_MHS === null || data.KEBUTUHAN_KHUSUS_MHS === "" || data.KEBUTUHAN_KHUSUS_MHS === "Normal" || data.KEBUTUHAN_KHUSUS_MHS === "Tidak ada") {
                    data.KEBUTUHAN_KHUSUS_MHS = "-";
                }
                $('#data2_3').val(data.KEBUTUHAN_KHUSUS_MHS);
                $('#data2_4').val(data.NAMA_IBU);
                $('#data2_5').val(data.alamat);

                if (data.kd_prop_asal !== null || data.kd_prop_asal !== "") {
                    text = data.kd_prop_asal;
                }
                $('#data2_6').val(text);

                if (data.kota_asal !== null) {
                    kabId = data.kota_asal;
                }

                GetKab(text, kabId);
                text = "";


                if (data.kec_asal !== null) {
                    kecId = data.kec_asal;
                }
                GetKec(kabId, kecId);

                $('#data2_9').val(data.kode_pos);
                $('#data2_10').val(data.NO_KPS);

                if (data.JAS !== null || data.JAS !== "") {
                    text = data.JAS;
                }
                else {
                    text = "";
                }
                $('#data2_11').val(text);
                text = "";

            },
            error: function () {
                console.error('Gagal mengambil data referensi.');
            }
        });

        $('#data2_6').on('change', function () {
            var selectedValue = $(this).val();
            console.log(selectedValue);
            GetKab(selectedValue, 0);
        });

        $('#data2_7').on('change', function () {
            var selectedValue = $(this).val();
            console.log(selectedValue);
            GetKec(selectedValue, 0);
        });

        $('#data_7').on('change', function () {
            var selectedValue = $(this).val();
            console.log(selectedValue);
            if(selectedValue === "WNA"){
                $('#selectHidden').removeClass("hidden");
            }else{
                $('#selectHidden').addClass("hidden");
            }
        });

        $('#submitFormDiri').submit(function (event) {
            event.preventDefault();
            var dataToSend = {
                Kd_Calon: $('#kdCalon').val(),
                Id_ortu: $('#ortu').val(),
                Nisn: $('#data_1').val(),
                Nm_Calon: $('#data_2').val(),
                // Nik: $('#data_3').val(),
                // No_kk: $('#data_4').val(),
                Tmp_Lahir: $('#data_5').val(),
                Tgl_Lahir: $('#data_6').val(),
                Jns_Kel: $('#data_10').val(),
                Agama: $('#data_11').val(),
                Kwrganegaraan: $('#data_7').val(),
                Negara: $('#data_8').val(),
                pendaftar: $('#data_9').val(),
                Email: $('#data2_1').val(),
                Periode: $('#data2_2').val(),
                Kebutuhan_khusus_mhs: $('#data2_3').val(),
                Nama_ibu: $('#data2_4').val(),
                Alamat: $('#data2_5').val(),
                Kota_asal: $('#data2_7').val(),
                Kec_asal: $('#data2_8').val(),
                Kode_pos: $('#data2_9').val(),
                No_kps: $('#data2_10').val(),
                Jas: $('#data2_11').val()
            }

            if (dataToSend.Nisn === "") {
                $("#m_data_1").text("Nisn wajib diisi!");
                // alert("Nisn wajib diisi!");
                return;
            } else {
                $("#m_data_1").text("");
            }

            $.ajax({
                url: '@Url.Action("SaveDataDiri", "CalonMhs")', // Ganti dengan URL sesuai dengan controller dan action Anda
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(dataToSend),
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        window.location.href = '@Url.Action("DetailCalonMhs", "CalonMhs")?Kd_Calon=' + response.kd_calon;
                    }
                },
                error: function (error) {
                    console.error('Terjadi kesalahan:', error);
                }
            });
        });

        ValidateInput();
    });

    function GetPropJas() {
        $.ajax({
            url: '@Url.Action("GetProvinsiList", "CalonMhs")',// Ganti dengan URL controller Anda
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                var select = $('#data2_6');
                data.forEach(item => {
                    var option = $('<option>').val(item.kD_PROP).text(item.namA_PROP);
                    select.append(option);
                });
            },
            error: function () {
                console.error('Gagal mengambil data.');
            }
        });

        $.ajax({
            url: '@Url.Action("GetJasList", "CalonMhs")',// Ganti dengan URL controller Anda
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                var select = $('#data2_11');
                data.forEach(item => {
                    var option = $('<option>').val(item.id).text(item.ukuran);
                    select.append(option);
                });
            },
            error: function () {
                console.error('Gagal mengambil data.');
            }
        });
    }
    function GetKab(prop, kab) {
        $.ajax({
            url: '@Url.Action("GetKotaByProvinsiId", "MstReferensi")?provinsiId=' + prop,// Ganti dengan URL controller Anda
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                var select = $('#data2_7');
                select.empty();

                var emptyOption = $('<option></option>');
                emptyOption.val('');
                emptyOption.text(' - Pilih Kabupatan/Kota - ');
                select.append(emptyOption);

                data.forEach(item => {
                    var option = $('<option></option>');
                    option.val(item.iD_KABUPATEN);
                    option.text(item.namA_KABUPATEN);

                    // Menentukan opsi yang sudah terpilih (selected)
                    if (item.iD_KABUPATEN === kab) {
                        option.attr('selected', 'selected');
                    }
                    select.append(option);
                });
            },
            error: function () {
                console.error('Gagal mengambil data.');
            }
        });
    }
    function GetKec(kota, kec) {
        $.ajax({
            url: '@Url.Action("GetKecamatanByKotaId", "MstReferensi")?kotaId=' + kota,// Ganti dengan URL controller Anda
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                var select = $('#data2_8');
                select.empty();

                var emptyOption = $('<option></option>');
                emptyOption.val('');
                emptyOption.text(' - Pilih Kecamatan - ');
                select.append(emptyOption);

                data.forEach(item => {
                    var option = $('<option></option>');
                    option.val(item.id_kecamatan);
                    option.text(item.nama_kecamatan);
                    // Menentukan opsi yang sudah terpilih (selected)
                    if (item.id_kecamatan === kec) {
                        option.attr('selected', 'selected');
                    }
                    select.append(option);
                });
            },
            error: function () {
                console.error('Gagal mengambil data.');
            }
        });
    }
    
</script>
@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@