@{
    Layout = null;
}
@model CetakSKPUKView

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Surat Ketetapan Pembayaran Uang Kuliah @Model.DataMhs.nm_calon</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="/Assets/plugins/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Ionicons -->
    <link rel="stylesheet"
          href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet"
          href="/Assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="/Assets/dist/css/adminlte.min.css" />

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        #namaMhs table, #namaMhs th, #namaMhs td {
            border-style: hidden;
        }

        #tblJenisBayar {
            margin-bottom: 40px;
        }

        #tblTotalBayar {
            margin-bottom: 10px;
        }

        #tblJenisBayar thead, #tblTotalBayar thead, #tblAngsuran thead {
            text-align: center;
        }

        #tblJenisBayar td, #tblTotalBayar td, #tblAngsuran td {
            padding: 5px;
            border: 1px solid black;
        }

        #tblJenisBayar tr, #tblTotalBayar tr, #tr td {
            padding: 5px;
            border: 1px solid black;
        }

        #isiJenisBayar {
            border-bottom: hidden;
        }

        #isiJmlJenisBayar {
            text-align: right;
            border-bottom: hidden;
        }

        #isiJenisPotongan {
            border-bottom: hidden;
        }

        #isiTotalBayar {
            text-align: right;
            border-bottom: hidden;
        }

        #ketSebelum {
            text-align: left;
        }

        #jmlSebelum {
            text-align: right;
        }

        #potSPU {
            text-align: left;
        }

        #jmlPotongan {
            text-align: right;
        }

        #ketSetelah {
            text-align: left;
        }

        #jmlSetelah {
            text-align: right;
        }

        #tblAngsuran {
            font-size:10px;
        }

        #noAngsuran {
            text-align: center;
        }

        #jmlAngsuran {
            text-align: right;
        }

        #jmlBayar {
            text-align: justify;
            float: left;
            width: 108%;
        }

        #ketBerkeberatan {
            text-align: justify;
            float: left;
            width: 108%;
        }

        .floatLeftText {
            text-align: justify;
            float: left;
            width: 108%;
        }

        #keterangan {
            text-align: justify-center;
            float: left;
            width: 108%;
        }

        .pdf-styled {
            width: 100%;
            height: 600px;
        }
    </style>
</head>

<body class="classbody">
    <div class="divbody">
        <h4 style="text-align: center;">
            SURAT KETETAPAN PEMBAYARAN UANG KULIAH (SKPUK)
            <br />
            TAHUN AKADEMIK @Model.DataMhs.thnakademik
            <br />
            PMB PROGRAM @Model.DataMhs.nama_jalur
            <hr style="width: 850px; height: 1px; background-color: black;" />
        </h4>
        <div style="float:right; font-size: 16px;">
            <p>Kepada :</p>
            <p>
                Yth. Sdr. <strong>@Model.DataMhs.nm_calon/@Model.DataMhs.kd_calon</strong>
                <br/>Calon Mahasiswa Magister
               <br/>Universitas Atma Jaya Yogyakarta
           </p>
        </div><br />
        <p class="floatLeftText" style="font-size: 18px;">
            Dengan Hormat,
            <br />
            Berdasarkan hasil Tes Kemampuan Belajar dan Tes Wawancara Program Magister Universitas Atma Jaya Yogyakarta,
            Saudara dinyatakan lulus dan <strong>@(Model.DataMhs.nm_prodi != null ? "DITERIMA" : "")</strong> sebagai calon mahasiswa pada :
        </p>
        <br />
        <p style="text-align: center; float: left; width: 108%; font-weight:bold; font-size: 20px;">
            Program Studi : @Model.DataMhs.nm_prodi
        </p>
        <br />
        @{
            string jml_potongan = String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("id-id"), "{0:N0}", Model.DataMhs.jml_potongan);
            string jml_setelah_potongan = String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("id-id"), "{0:N0}", Model.DataMhs.jml_setelah_potongan);
            string uang_jaminan = String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("id-id"), "{0:N0}", Model.DataMhs.uang_jaminan);
            string tanggal_jaminan = String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("id-id"), "{0:N0}", Model.DataMhs.tanggal_jaminan);

        }
        <p class="floatLeftText" style="font-size: 18px;">
            Total biaya yang harus dibayarkan pada semester 1 adalah Rp <strong>Rp. @jml_setelah_potongan</strong> (<strong>@Model.DataMhs.terbilangJmlStlhPotongan</strong>), dengan perincian sebagai berikut :
        </p><br/><br/>
        <table id="tblAngsuran" style="width: 100%; border-collapse:collapse;">
            <thead>
                <tr>
                    <th>Jenis Pembayaran</th>
                    <th>Jumlah (Rp)</th>
                    <th>Potongan</th>
                    <th>Biaya (Rp)</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListAngsuranMhs != null)
                {
                   @*  foreach (var itemAngsuran in Model.ListAngsuranMhs)
                    {
                        string jml_uang = String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("id-id"), "{0:N0}", itemAngsuran.jmluang);

                        <tr>
                            <td style="text-align:center;" id="noAngsuran">@itemAngsuran.angsuranke</td>
                            <td id="periodeAngsuran">@itemAngsuran.batas_bayar</td>
                            <td id="ketAngsuran">@itemAngsuran.ket_angsuran</td>
                            <td id="jmlAngsuran"><span style="float:left">Rp.</span> @jml_uang</td>
                        </tr>
                    } *@
                }
                @{
                    string jml_angsuran = String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("id-id"), "{0:N0}", Model.DataMhs.jml_angsuran);

                    <tr>
                        <td colspan="3" style="text-align: center;">Total Biaya Semester 1 </td>
                        <td id="jmlAngsuran"><span style="float:left">Rp.</span>@jml_angsuran</td>
                    </tr>
                }
            </tbody>
        </table> <br /><br />
        @* <h4 style="text-align: center;">
            SURAT KETETAPAN PEMBAYARAN UANG KULIAH (SKPUK)
            <br />
            TAHUN AKADEMIK @Model.DataMhs.thnakademik
            <br />
            PMB PROGRAM @Model.DataMhs.nama_jalur
            <hr style="width: 850px; height: 1px; background-color: black;" />
        </h4> *@

     </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
            integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/Assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/Assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/Assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/Assets/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/Assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Assets/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/Assets/dist/js/pages/dashboard.js"></script>
    <script src="/js/site.js"></script>
</body>
</html>